



#SYOMcanvas {
    width: 100%;

    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

#SYOMwrapper {
    width: 90%;
    max-width: 1000PX;
    margin-left: auto;
    margin-right: auto;
}